<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Anonymous+Pro" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css_files/workspace_styles.css') }}">
    <title>{{ us_title }}</title>
</head>
<body>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    <footer>
        {% if error==False %}
            {% include "includes/footer_.html" %}
        {% endif %}
    </footer>
</body>
</html>